<?xml version="1.0"?>

<robot name="hyq2max" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- The following included files set up definitions of parts of the robot body -->
	<xacro:include filename="$(find hyq2max_description)/urdfs/common.xacro"/>
	<!-- HyQ2Max torso -->
	<xacro:include filename="$(find hyq2max_description)/urdfs/trunk/trunk.urdf.xacro"/>

	<!-- HyQ2Max legs -->
	<xacro:include filename="$(find hyq2max_description)/urdfs/leg/leg.urdf.xacro"/>

	<!-- HyQ2Max sensors -->
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/microstrain_3dmgx425_imu.urdf.xacro"/>
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/asus_xtion.urdf.xacro"/>
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/velodyne.urdf.xacro"/>
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/kinect.urdf.xacro"/>
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/ptu_d46.urdf.xacro"/>
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/bumblebee.urdf.xacro"/>
	<xacro:include filename="$(find hyq2max_description)/urdfs/sensors/vislab_3dve.urdf.xacro"/>

	<!-- Generic simulator_gazebo plugins for starting mechanism control, ros time -->
	<xacro:include filename="$(find hyq2max_description)/gazebo/gazebo.urdf.xacro"/>

	<!-- Now we can start using the macros included above to define the actual HyQ2Max -->

	<!-- The first use of a macro. This one was defined in trunk.urdf.xacro above.
A macro like this will expand to a set of link and joint definitions, and to additional
Gazebo-related extensions (sensor plugins, etc). The macro takes an argument, name,
that equals "base", and uses it to generate names for its component links and joints
(e.g., base_link). The included origin block is also an argument to the macro. By convention,
the origin block defines where the component is w.r.t its parent (in this case the parent
is the world frame). For more, see http://www.ros.org/wiki/xacro -->

	<!-- Body -->
	<!-- Trunk -->
	<xacro:hyq2max_trunk name="base">
		<origin xyz="-0.443 -0.191 -0.276" rpy="0 0 0"/>
	</xacro:hyq2max_trunk>

	<!-- LF leg -->
	<xacro:hyq2max_leg
		name="lf"
		parent="trunk"
		reflect_left="1"
		reflect_front="1">
		<origin xyz="0.4435 0.097 0" rpy="${PI} ${PI/2} 0"/> 
<!--		<origin xyz="${d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>-->
	</xacro:hyq2max_leg>

	<!-- RF leg -->
	<xacro:hyq2max_leg
		name="rf"
		parent="trunk"
		reflect_left="-1"
		reflect_front="1">
		<origin xyz="0.4435 -0.097 0" rpy="0 ${PI/2} 0"/>
<!--		<origin xyz="${d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>-->
	</xacro:hyq2max_leg>

	<!-- LH leg -->
	<xacro:hyq2max_leg
		name="lh"
		parent="trunk"
		reflect_left="1"
		reflect_front="-1">
		<origin xyz="-0.4435 0.097 0" rpy="${PI} ${PI/2} 0"/> 
	</xacro:hyq2max_leg>

	<!-- RH leg -->
	<xacro:hyq2max_leg
		name="rh"
		parent="trunk"
		reflect_left="-1"
		reflect_front="-1">
		<origin xyz="-0.4435 -0.097 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq2max_leg>

	<!-- IMU trunk -->
	<xacro:microstrain_3dmgx425_imu
		parent="trunk"
		imu_name="3dmgx345_trunk_imu"
		imu_topic="trunk_imu/data"
		update_rate="1000"
		rate_mean="0"
		rate_stddev="2e-4"
		rate_bias_mean="0.00087"
		rate_bias_stddev="0.0000008"
		accel_mean="0"
		accel_stddev="1.7e-2"
		accel_bias_mean="0.002"
		accel_bias_stddev="0.001">
		<origin xyz="0.3 0 0.095" rpy="0 ${-PI} 0"/>
	</xacro:microstrain_3dmgx425_imu>

	<!-- Velodyne -->
<!--	<xacro:velodyne
		name="trunk_mount"
		parent="trunk">
		<origin xyz="0.39 0 0.269" rpy="0 0 0"/>
	</xacro:velodyne>-->

	<!-- PTU unit -->
<!--	<xacro:ptu_d46
		name="ptu"
		parent="trunk">
		<origin xyz="0.657353 0.015447 0.119533" rpy="-0.013127 0.569257 -0.007748"/>
	</xacro:ptu_d46>-->

	<!-- Asus Xtion Pro -->
	<!--<origin xyz="0 0.005 0.036" rpy="0 0 0"/> with Bumblebee setup -->
	<!--<origin xyz="0 0 0.04397" rpy="0 0 0"/> with Vislab setup -->
<!--	<xacro:asus_xtion_camera
		name="head_mount"
		parent="ptu_mount_link">
		<origin xyz="0 0.005 0.036" rpy="0 0 0"/>
	</xacro:asus_xtion_camera>-->

	<!-- Kinect --> <!-- is no more used, but we keep it for compatibilty -->
	<!--xacro:kinect_camera
		name="head_mount"
		parent="trunk">
		<origin xyz="0.63 0 0.095" rpy="0 0 0"/>
	</xacro:kinect_camera-->

	<!-- Bumblebee -->
<!--	<xacro:bumblebee_97
		parent_link="ptu_mount_link"
		xyz="0 0 0.018"
		rpy="0 0 0"
		ns="bumblebee"
		frame_prefix="bumblebee_"
		high_res="false"/>-->

<!--	<xacro:vislab_3dve_72
		name="vislab_3dve"
		parent="ptu_mount_link"
		xyz="0 0 0.025"
		rpy="0 0 0"
		high_res="false"/>-->


</robot>
