<?xml version="1.0" ?>
<launch>

	<arg name="arm" default="false"/>

	<!-- Load the sensors that measured the internal wrench in the joints -->
	<arg name="internal_wrench" default="false"/>

	<!-- send the robot description file -->
	<param name="/hyq2max/robot_config" value="$(find hyq2max_description)/yarf/hyq2max.yarf"/>

	<!-- send HyQ2Max urdf to param server -->
	<group if="$(arg arm)">
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find hyq2max_description)/robots/hyq2max_with_arms.urdf.xacro' load_force_sensors:=$(arg internal_wrench)"/>
	</group>
	<group unless="$(arg arm)">
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find hyq2max_description)/robots/hyq2max.urdf.xacro' load_force_sensors:=$(arg internal_wrench)"/>
		<param name="hyq2max/robot_model" command="$(find xacro)/xacro.py '$(find hyq2max_description)/robots/hyq2max_model.urdf.xacro'"/>
	</group>

</launch>
