<?xml version="1.0"?>

<robot>

	<property name="PI" value="3.1415926535897931"/>

	<!-- standard distances -->
	<property name="d_lr" value="0.7245"/>
	<property name="d_fh" value="1.1952"/>

	<property name="haa_lr" value="0.34125"/>
	<!-- 0.194  0.34125 -->
	<property name="haa_fh" value="1.4192"/>
	<!-- 0.887 1.4192-->

	<property name="hipassembly_length" value="0.117"/>
	<property name="upperleg_length" value="0.360"/>
    <property name="lowerleg_length" value="0.380"/>

	<!-- Knee offset angel in degree -->
	<property name="knee_offset_angle" value="10."/>

	<!-- Inertial values -->
	<!-- Trunk with hydraulic system -->
	<property name="xcom_trunk" value="0.060663"/>
	<property name="ycom_trunk" value="0.000598"/>
	<property name="zcom_trunk" value="-0.007592"/>
	<property name="m_trunk" value="79.71"/>
	<property name="ixx_trunk" value="1.620351283145943"/>
	<property name="iyy_trunk" value="23.421032273196097"/>
	<property name="izz_trunk" value="25.933247447558614"/>
	<property name="ixy_trunk" value="-0.028582227529590"/>
	<property name="ixz_trunk" value="0.014958742724754"/>
	<property name="iyz_trunk" value="-0.006187059688995"/>

	<!-- Hip assembly -->
	<property name="xcom_hipassembly" value="-0.000605"/>
	<property name="ycom_hipassembly" value="-0.001346"/>
	<property name="zcom_hipassembly" value="0.000196"/>
	<property name="m_hipassembly" value="3.54"/>
	<property name="ixx_hipassembly" value="0.007379"/>
	<property name="iyy_hipassembly" value="0.004284"/>
	<property name="izz_hipassembly" value="0.007090"/>
	<property name="ixy_hipassembly" value="-0.000053"/>
	<property name="ixz_hipassembly" value="0.000017"/>
	<property name="iyz_hipassembly" value="0.000030"/>
	<!-- Upper leg -->
	<property name="xcom_upperleg" value="0.144296"/>
	<property name="ycom_upperleg" value="-0.002071"/>
	<property name="zcom_upperleg" value="-0.005094"/>
	<property name="m_upperleg" value="4.95"/>
	<property name="ixx_upperleg" value="0.010196"/>
	<property name="iyy_upperleg" value="0.204183"/>
	<property name="izz_upperleg" value="0.207532"/>
	<property name="ixy_upperleg" value="-0.002320"/>
	<property name="ixz_upperleg" value="-0.000141"/>
	<property name="iyz_upperleg" value="0.000034"/>
	<!-- Lower leg -->
	<property name="xcom_lowerleg" value="0.109015"/>
	<property name="ycom_lowerleg" value="0.042147"/>
	<property name="zcom_lowerleg" value="0.000219"/>
	<property name="m_lowerleg" value="1.71"/>
	<property name="ixx_lowerleg" value="0.006848"/>
	<property name="iyy_lowerleg" value="0.055957"/>
	<property name="izz_lowerleg" value="0.059397"/>
	<property name="ixy_lowerleg" value="0.011981"/>
	<property name="ixz_lowerleg" value="0.000008"/>
	<property name="iyz_lowerleg" value="0.000012"/>

</robot>
